<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="honey.dao.HoneyMembersDao">
  <resultMap type="HoneyMembers" id="memberMap">
    <id column="MB_NO" property="memberNo"/> 
    <id column="MB_NO2" property="followMemberNo"/>
    <result column="EMAIL" property="email"/>
    <result column="MB_NICK" property="nickname"/>
    <result column="MB_NM" property="userName"/>
    <result column="TEL" property="phone"/>
    <result column="BIRTH" property="userBirthDay"/>
    <result column="PWD" property="password"/>
  </resultMap>
  
<resultMap type="HoneyMain" id="boardMap">
    <id column="BD_NO" property="no"/>
    <result column="BD_TITL" property="title"/>
    <result column="URL" property="url"/>
    <result column="MB_NICK" property="writerNick"/>
    <result column="BD_CONTS" property="contents"/>
    <result column="BD_CRE" property="createdDate"/>
    <result column="BD_LIKE" property="like"/>
    <result column="VIEW_CT" property="viewCount"/>
    <result column="EMAIL" property="email"/>
    <result column="MB_NO" property="userNo"/>
    <result column="CT_NO" property="categoryNo"/>
    <result column="CT_NM" property="category"/>
  </resultMap>
  
  
  <insert id="joinMember" parameterType="HoneyMembers" useGeneratedKeys="true" keyProperty="memberNo" keyColumn="MB_NO">
    insert into honey_membs(EMAIL, MB_NICK, MB_NM, TEL, PWD)
    values(#{email}, #{nickname}, #{userName}, #{phone}, password(#{password}))
  </insert>
  
  <insert id="followInsert" parameterType="HoneyMembers" >
    insert into honey_flw(mb_no, mb_no2)
    values(#{memberNo}, #{followMemberNo})
  </insert>
  
  
  
  <select id="selectOneByEmailAndPassword" resultMap="memberMap" parameterType="map">
    select MB_NO, PWD, EMAIL,  MB_NICK, TEL, MB_NM
    from honey_membs 
    where EMAIL=#{email} and PWD=password(#{password}) 
  </select>
  
  <select id = "selectOneByMemberNo" resultMap="memberMap" parameterType="map">
    select EMAIL, MB_NICK, MB_NM, TEL, PWD
    from honey_membs
    where MB_NO=#{value}
  </select>
  
  
  <select id = "selectUserInfo" resultMap="memberMap" parameterType="map">
    select EMAIL, MB_NICK, MB_NM, TEL, PWD
    from honey_membs
    where MB_NO=#{userNo}
  </select>
  
  <select id = "selectUserNumber" resultMap="memberMap" parameterType="map">
    select MB_NO
    from honey_membs
    where MB_NICK=#{nickName}
  </select>
  
    <select id = "selectUserNickName" resultMap="memberMap" parameterType="map">
    select MB_NICK
    from honey_membs
    where MB_NO=#{memberNo}
  </select>
  
  <select id = "selectFollowUser" resultMap="memberMap" parameterType="map">
    select *
    from honey_flw
    where MB_NO=#{memberNo} and MB_NO2=#{followMemberNo}
  </select>  
  
  <select id="selectBoards" parameterType="int" resultMap="boardMap">
  select hb.BD_NO,hb.BD_TITL,hb.BD_CRE,hb.BD_LIKE,hb.VIEW_CT,hb.MB_NO,hb.CT_NO,
    hm.MB_NO, hm.MB_NICK, hc.CT_NO, hc.CT_NM,hb.BD_CONTS
    from honey_boards hb
    left join honey_membs hm on hm.MB_NO = hb.MB_NO
    left join honey_ctg hc on hb.CT_NO = hc.CT_NO
    where hb.mb_no=#{memberNo}
    order by BD_NO desc
  </select>
  
  <select id="selectFollowCount" parameterType="int" resultMap="boardMap">
    select *
    from 
    honey_flw
    where mb_no=#{memberNo}
  </select>
  
    <select id="selectGuider" parameterType="int" resultMap="memberMap">
    select *
    from 
    honey_flw
    where mb_no2=#{memberNo}
  </select>
  
  <delete id="disconnector" parameterType="int">
  delete from honey_flw
  where MB_NO=#{memberNo} and MB_NO2=#{followMemberNo}
  </delete>
  
  <delete id="unregisteMember" parameterType="int">
  delete from honey_membs
  where MB_NO=#{value}
  </delete>
  
  <update id="userInfoUpdate">
    update honey_membs set
      EMAIL=#{email},
      MB_NICK=#{nickname},
      MB_NM=#{userName},
      TEL=#{phone}
    where MB_NO=#{memberNo}
  </update>
  
  <update id="changePassword">
    update honey_membs set
      PWD=password(#{password})
    where MB_NO=#{memberNo}
  </update>
  
  <select id="emailCheck" resultMap="memberMap" parameterType="String">
    select EMAIL from honey_membs
    where email= #{email}
  </select>
  
  
  
  
</mapper>




















