<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="honey.dao.HoneyMembersDao">
  <resultMap type="HoneyMembers" id="memberMap">
    <id column="MB_NO" property="memberNo"/> 
    <result column="EMAIL" property="email"/>
    <result column="MB_NICK" property="nickname"/>
    <result column="MB_NM" property="userName"/>
    <result column="TEL" property="phone"/>
    <result column="BIRTH" property="userBirthDay"/>
    <result column="PWD" property="password"/>
  </resultMap>
  
  <insert id="joinMember" parameterType="HoneyMembers">
    insert into honey_membs(EMAIL, MB_NICK, MB_NM, TEL, PWD)
    values(#{email}, #{nickname}, #{userName}, #{phone}, password(#{password}))
  </insert>
  
  <select id="selectOneByEmailAndPassword" resultMap="memberMap" parameterType="map">
    select MB_NO, PWD, EMAIL,  MB_NICK, TEL, MB_NM
    from honey_membs 
    where EMAIL=#{email} and PWD=password(#{password}) 
  </select>
  
  <delete id="unregisteMember" parameterType="int">
  delete from honey_membs
  where MB_NO=#{value}
  </delete>
  
  <select id = "selectUserInfo" resultMap="memberMap" parameterType="map">
    select EMAIL, MB_NICK, MB_NM, TEL, PWD
    from honey_membs
    where MB_NO=#{userNo}
  </select>
  <update id="userInfoUpdate">
    update honey_membs set
      EMAIL=#{email},
      MB_NICK=#{nickname},
      MB_NM=#{userName},
      TEL=#{phone}
    where MB_NO=#{memberNo}
  </update>
</mapper>




















