<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="honey.dao.MemberFileDao">
  <resultMap type="MemberFile" id="boardFileMap">
    <id column="no" property="no"/> 
    <result column="mb_no" property="memberNo"/>
    <result column="mbp_path" property="filename"/>
  </resultMap>
  
  <insert id="insert" parameterType="MemberFile">
    insert into honey_membs_photos(mb_no, mbp_path)
    values(#{memberNo}, #{filename})
  </insert>
</mapper>

