<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="honey.dao.HoneySearcherDao">

  <resultMap type="HoneySearchKeyword" id="searchMap">
    <result column="BD_TITL" property="title" />
    <result column="BD_CONTS" property="contents" />
    <result column="URL" property="url"/>
    <result column="EMAIL" property="email"/>
    <result column="MB_NICK" property="nickname"/>
    <result column="MB_NM" property="userName"/>
  </resultMap>

  <select id="selectFromBoard" resultMap="searchMap" parameterType="map">
    select BD_TITL,BD_CONTS,URL
    from honey_boards
    where bd_titl like concat('%', #{value}, '%') or bd_conts like concat('%', #{value}, '%')
  </select>
  <select id="selectFromMembers" resultMap="searchMap" parameterType="map">
    select EMAIL,MB_NICK,MB_NM
    from honey_membs
    where EMAIL like concat('%', #{value}, '%') or MB_NICK like concat('%', #{value}, '%') or MB_NM like concat('%', #{value}, '%')
    
  </select>
</mapper>
