@charset "utf-8";
/* /*reset*/
/* html, body, div, span, object, iframe, p, blockquote, pre, */
/* abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, */
/* b, i, dl, dt, dd, ol, ul, li, fieldset, form,  legend, table, caption, tbody, tfoot, thead,  */
/* article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, */
/* time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } */
/* article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; } */
/* input,textarea,select,table{font-size:inherit;font-family:inherit; font-size: 100%; -webkit-text-size-adjust:none;} */
/* ul,ol,li{list-style:none;} */
/* a{text-decoration:none; color:inherit;} */
/* a:hover, a:focus{text-decoration:underline;} */
/* fieldset{margin:0; padding:0; border:none;}  */
/* caption,legend{position:absolute;top:-5000px;text-indent:-5000px;visibility:hidden;width:0;height:0;font-size:0;line-height:0;} */
/* img{vertical-align:middle;} */
/* table{display: table;} */
/* caption{display: table-caption;} */
/* colgroup{display: table-column-group;} */
/* col{display: table-column;} */
/* thead{display: table-header-group;} */
/* tbody{display: table-row-group;} */
/* tfoot{display: table-footer-group;} */
/* tr{display: table-r ow;} */
/* td, th{display: table-cell;} */
/* ul:after{content:" ";display:block;clear:both;} */
/* body{ font-family:"arial", sans-serif; font-size:12px;} */
/* /*reset*/
body {
  font-family: "arial", sans-serif;
  font-size: 12px;
}
#body_Line {
	background-color: white;
	heigth: 100%;
}
.topSection {
	padding-top: 100px;
	width: 1048px;
  heigth: 100%;
  margin: 0 auto;
}
.userInfocontainer {
  width: inherit;
  height: 100%;
/*   border: 1px solid #e3e3e3; */
/*   border-radius: 3px; */
/*   box-shadow: 1px 1px 1px #c0c0c0; */
  overflow: hidden;
}
.userProfilePhotosContainer {
  width: 152px;
  float: left;
  height: 152px;
  overflow: hidden;
}
#userPhoto {
	width: 150px;
	height: auto;
  border-radius: 10px;
  border: #ebebeb 1px solid;
}
.userNickNameContainer {
	float: left;
	max-width: 700px;
	min-width: 500px;
	max-height: 152px;
	margin-left: 20px;
  line-height: 40px;
  font-size: 20px;
  font-family: "Spoqa Han Sans";
}
.userBoardInfoContainer {
  width: 150px;
  float: right;
  height: 150px;
  color: #999;
  margin: 10px 10px 0 0;
}
#userNickName {
	height: 40px;
  margin-top: 10px;
  color: #4c4c4c;
  position: relative;
}
#userNickNameInfo {
  font-size: 20px;
  font-weight: bold;
  float: left;
}
#ProfileEditLinkGear {
	width: 20px;
	height: 20px;
	float: left;
	margin: 10px 3px 0 5px;
}
.profileEdit_Btn:hover {
	cursor: pointer;
}
@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spin {
   0%  {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);}
}
@keyframes spin {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#editWord {
	font-size: 12px;
	float: left;
}
#userIntroduce {
  margin: 10px 10px 0 10px;
  font-size: 14px;
  color: #808080;
  line-height: 18px;
  min-width: 500px;
  max-width: 700px;
}
.contentsSection {
  width: 100%;
  height: 100%;
  border-top: #f1f1f1 1px solid;
  background-color: #f1f1f1;
}
#admin_detail {
	margin-top: 5px;
  width: 100%;
  background-color: white;
  padding-top: 20px;
  min-height: 556.5px;
}
.fileAddBtn {
	margin-bottom: 10px;
}
.received {
  font-family: "Spoqa Han Sans";
  font-size: 13px;
  line-height: 1.7;
  border-bottom: #ebebeb 1px solid;
}
.views {
  line-height: 35px;
  border-bottom: #ebebeb 1px solid;
  font-family: "Spoqa Han Sans";
}
.likes {
  line-height: 35px;
  border-bottom: #ebebeb 1px solid;
  font-family: "Spoqa Han Sans";
}
.followers {
  line-height: 35px;
  border-bottom: #ebebeb 1px solid;
  font-family: "Spoqa Han Sans";
}
.text {
  font-size: 14px;
}
#fileTable {
	width: 1048px;
	heigth: 100%;
	margin: 0 auto;
}
.received {
  font-family: "Spoqa Han Sans";
  font-size: 13px;
  line-height: 1.7;
  border-bottom: #ebebeb 1px solid;
}
.views {
  line-height: 35px;
  border-bottom: #ebebeb 1px solid;
  font-family: "Spoqa Han Sans";
}
.likes {
  line-height: 35px;
  border-bottom: #ebebeb 1px solid;
  font-family: "Spoqa Han Sans";
}
.followers {
  line-height: 35px;
  border-bottom: #ebebeb 1px solid;
  font-family: "Spoqa Han Sans";
}
.text {
  font-size: 14px;
}
.numbering {
  float: right;
  font-size: 16px;
  font-family: "Spoqa Han Sans";
}
#centerContents {
  background-color: white;
  margin: auto;
  padding-top: 7px;
}
#centerContentsWrap {
  background: white;
  height: 32px;
  width: 1048px;
  margin: auto;
  padding-top: 7px;
  text-align: center;
}
.conterMenuBtn {
  font-size: 16px;
  font-family: "Spoqa Han Sans";
  color: #999;
  padding-top: 5px;
}
.fileThumbnail {
	height: 50px;
	width: 50px;
}
#modalDialog {
  margin-top: 150px;
  width: 420px;
}
#modalBody {
  height: 455px;
}


modal fade>p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.addFileTopSection {
  width: 100%;
  height: 100px;
  position: relative;
}
.addFileMidSection {
  width: 100%;
  height: 285px;
  border: 1px solid #e6e6e6;
  overflow-y: scroll;
}
.addFileBotSection {
	width: 100%;
	height: 45px;
	padding-top: 10px;
}
.userInfo {
  width: 100%;
  heigth: 60px;
}
.addFileSection {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 43px;
  padding: 10px 0 10px 0;
}
.fileUploatIconWrap {
  width: 55px;
  height: 55px;
/*  border: 1px solid black; */
/*  border-radius: 100%; */
/*   overflow: hidden; */
}
.addFileIcon {
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
  border-radius: hidden;
}
.addFileIcon:hover {
  cursor: pointer;
  position: relative;
}
.addFileIcon:hover:after {
  content: "파일을 등록하세요!";
  position:absolute;
  bottom: 100%;
  left: -10px;
  padding:2px;
  border-radius: 3px;
  background-color:white;
  color: black;
  z-index: 9999999;
}
.fileUploatIcon {
  font-size: 40px;
}
/* .fileUploatIconWrap > #file { */
/*   visibility: hidden; */
/* } */
#sendFileBtn {
	float: right;
	margin: 0 5px;
}
#cancleFileBtn{
	float: right;
	margin: 0 5px;
}
.EachFilesWrap {
	height: 40px;
/* 	border-top: 1px solid black; */
	border-bottom: 1px solid #e6e6e6;
	margin: 0 5px;
	padding: 10px 15px;
}
.EachFiles {
	width: 245px;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  font-size: 15px;
  margin-right: 10px;
}
.fileSize {
  font-size: 15px;
	float: left;
}
.Infotext {
  font-size: 10px;
}
.dangerText {
	margin: 5px 0 0 5px;
	font-size: 12px;
}

.moreViewBtn{
    font-size: 15px;
    padding-right: 13px;
    color: #a9a9a9;
    padding-left: 950px;
}
.moreViewBtn:hover {
	text-decoration: underline;
	cursor: pointer;
}
#boardBtn {
	
	width: 100%;
	height: 100%;
	margin-bottom: 100px;
}

#boardTable{
	    width: 1024px;
    max-width: 100%;
    margin-bottom: 20px;
}

#filenameLink {
	color: black !important;
} 

